{% extends 'base.html' %} 

{% block content %} 

<div>
  <h1>UniCal</h1>
</div>

<div class="meal-form">
  <h2>Breakfast</h2>
  <form id="breakfast-form" method="POST">
    <div class="form-row">
      <!-- Meal Input -->
      <label for="breakfast">Describe Meal: </label>
      <input type="text" id="breakfast" name="breakfast" required>
    </div>
    <div class="form-row">
      <!-- Submit Button -->
      <button type="submit" id="submit-button">Add</button>
    </div>
  </form> 
</div>

{% endblock %}
