{% extends 'base.html' %} 

{% block scripts %}
  <script src="/static/javascript/main.js" defer></script>
{% endblock %}

{% block content %} 

<div class="container">
<div class="title-container">
  <h1>UniCal</h1>
  <p>UniCal aims to provide college students with a simple way to keep track of their daily calorie intake with the help of AI.</p>
  <p>Please note that calorie estimates are approximate and may vary based on ingredients and portion sizes.</p>
  <p>Please be as descriptive as possible when entering your meals to get the most accurate estimates.</p>
</div>

<div class="meals-grid">
<div class="meal-form">
  <h2>Breakfast</h2>
  <form id="breakfast-form" method="POST" action="/generate-calories">
    <div class="form-row">
      <!-- Meal Input -->
      <label for="breakfast-meal">Describe Meal: </label>
      <input type="text" id="breakfast-meal" name="meal" required>
    </div>
    <div class="form-row">
      <!-- Submit Button -->
      <button type="submit" id="breakfast-submit-button">Calculate</button>
    </div>
  </form> 
</div>

<div class="meal-form">
  <h2>Lunch</h2>
  <form id="lunch-form" method="POST" action="/generate-calories">
    <div class="form-row">
      <!-- Meal Input -->
      <label for="lunch-meal">Describe Meal: </label>
      <input type="text" id="lunch-meal" name="meal" required>
    </div>
    <div class="form-row">
      <!-- Submit Button -->
      <button type="submit" id="lunch-submit-button">Calculate</button>
    </div>
  </form> 
</div>

<div class="meal-form">
  <h2>Dinner</h2>
  <form id="dinner-form" method="POST" action="/generate-calories">
    <div class="form-row">
      <!-- Meal Input -->
      <label for="dinner-meal">Describe Meal: </label>
      <input type="text" id="dinner-meal" name="meal" required>
    </div>
    <div class="form-row">
      <!-- Submit Button -->
      <button type="submit" id="dinner-submit-button">Calculate</button>
    </div>
  </form> 
</div>

<div class="meal-form">
  <h2>Snacks</h2>
  <form id="snacks-form" method="POST" action="/generate-calories">
    <div class="form-row">
      <!-- Meal Input -->
      <label for="snacks-meal">Describe Meal: </label>
      <input type="text" id="snacks-meal" name="meal" required>
    </div>
    <div class="form-row">
      <!-- Submit Button -->
      <button type="submit" id="snacks-submit-button">Calculate</button>
    </div>
  </form> 
</div>
</div>

<div class="total-calories">
  <h3>Total Calories: <span id="total-calories">{{ totalCalories }}</span></h3>
  <button type="button" id="reset-calories-btn" onclick="resetAll()">Reset</button>
</div>
</div>

{% endblock %}
